Source: xoreos-tools
Section: contrib/devel
Priority: optional
Maintainer: Sven Hesse <drmccoy@drmccoy.de>
Uploaders: Eike Sauer <eike@debian.org>
Changed-By: Eike Sauer <eike@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev, autoconf (>= 2.65), gettext, zlib1g-dev (>= 1:1.2.3.4), libxml2-dev (>= 2.8.0), libboost-dev (>= 1.53), libboost-filesystem-dev (>= 1.53), libboost-locale-dev (>= 1.53), libboost-system-dev (>= 1.53)
Standards-Version: 4.5.0
Homepage: https://xoreos.org/

Package: xoreos-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: collection of tools around BioWare's Aurora engine games
 A collection of tools to help with the reverse-engineering of BioWare's
 Aurora engine games.
 .
 xoreos-tools is part of the xoreos project (which is not yet part of Debian).
